html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #93b5b0;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

header {
  flex-shrink: 0; 
}

main {
  flex-grow: 1; 
}

footer {
  flex-shrink: 0;
}
