.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-links a, .auth-links a {

  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.nav-links a, .auth-links a {
  text-decoration: none; 
  color: inherit; 
}