.header {
  top: 0;
  left: 0;
  background-color: #1a6c68;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  width: 95vw;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
}

.header nav {
  margin-top: 10px;
}

.header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2em;
}

.header nav a:hover {
  text-decoration: underline;
}